<% if (title) { %>
    <h1 class="edit-inventory-title">
      <%= title %>
    </h1>
  <% } else { res.redirect('/') } %>
  
  <%- messages() %>
  
  <!-- Display validation errors -->
  <% if (errors && errors.length > 0) { %>
    <ul class="notice">
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>

<!-- Account Update Form -->
<div>
<section class="account-update-form">
    <h2>Account Update</h2>
    <form action="/account/update" method="post">
      <div>
        <label for="account_firstname">First Name:</label>
        <input
          type="text"
          id="account_firstname"
          name="account_firstname"
          value="<%= accountData.account_firstname %>"
          required
        />
    </div>
    <div>
      <label for="account_lastname">Last Name:</label>
      <input
        type="text"
        id="account_lastname"
        name="account_lastname"
        value="<%= accountData.account_lastname %>"
        required
      />
    </div>
    <div>
      <label for="account_email">Email:</label>
      <input
        type="email"
        id="account_email"
        name="account_email"
        value="<%= accountData.account_email %>"
        required
      />
    </div>
      <!-- Hidden Field for Account ID -->
      <input type="hidden" name="account_id" value="<%= accountData.account_id %>" />
  
      <input class="button" type="submit" value="Update Account" />
    </form>
  </section>
  
  <!-- Change Password Form -->
  <section class="change-password-form">
    <h2>Change Password</h2>
    <p>
      Enter a new password to change your current password. Passwords must be at least 12 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character.
    </p>
    <form action="/account/update-password" method="post">
      <label for="account_password">New Password:</label>
      <input
        type="password"
        id="account_password"
        name="account_password"
        required
      />
  
      <!-- Hidden Field for Account ID -->
      <input type="hidden" name="account_id" value="<%= accountData.account_id %>" />
  
      <input class="button" type="submit" value="Change Password" />
    </form>
  </section>
</div>